@{
    ViewData["Title"] = "Results";
}

@model Response


<div class="container">
    <h1>Here are your results!</h1>
    <h3>Name: @Model.Name</h3>
    <h3>Location: @Model.Location</h3>
    <h3>Favorite Language: @Model.Language</h3>
    @{
        if(@Model.Comments != null){
            <h3>@Model.Comments</h3>
        }
    }
</div>