@{
    ViewData["Title"] = "All Dishes";
}
@model List<Dish>

<h1>Check out some yummy dishes!</h1>

@foreach (Dish d in Model)
{
    <div class="container border shadow mb-3 p-3">

    <p>Dish Name: @d.DishName</p>
    <p>Calories: @d.Calories</p>
    <p>Tastiness: @d.Tastiness</p>
    <p>Chef: @d.Cook.FirstName @d.Cook.LastName</p>
    </div>
    
}

